# Exemplo Inicial

In [ ]:
1+3

In [ ]:
print(1+6)
print('Testei')

# Tipos Básicos

In [ ]:
#Boolean
print(True)
print(False)

#Real ou Float
print(1.2-1)

#String
print('String')
print("String")

print('Voce é ' + 3 * 'muito ' + 'legal')

#print(3 + '3' ) -> Ambiguidade de Tipos

#Lista
print([1,2,3,4])

#Dicionário
print({'nome':'Alison', 'idade':23})

#None
print(None)

# Variáveis

In [ ]:
a = 10
b = 1.18

print(a + b)

a = 'String'
print(a)

# Operadores Aritméticos

In [ ]:
print(1+1)
print(1-1)
print(2*1)
print(9.4/2)
# Divisão para inteiro
print(9.4//2) 
# Exponenciação
print(2 ** 8)
# Módulo - Resto da divisão
print(5 % 2)

a = 12
b = a

print(a+b)

# Desafio Operadores Aritméticas

In [ ]:
salario = 1050
despesas = 830

percentual_comprometido = despesas / salario * 100


print(percentual_comprometido)

# Operadores Relacionais

In [ ]:
3 > 4

4 >= 3

1 < 2

3 <= 1

3 != 2

3 == 3

2 == '2'

# Operadores de Atribuição

In [ ]:
a = 3
a = a + 7
print(a)
a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 255
print(a)

# Operadores Lógicos

In [ ]:
True or False
7 != 3 and 2 > 3

# Está ensolarado e vou para o Shopping

# Tabela Verdade do AND
True and True
True and False
False and True
False and False

# Tabela Verdade do OR
True or True
True or False
False or True
False or False

# Tabela Verdade do XOR -- Exclusivo, tem que ser um ou o outro
True != True
True != False
False != True
False != False

# Operador de Negação (unário)
not True
not False

# CUIDADO! Bit a Bit

True & True
False | True
True ^ False

saldo = 1000
salario = 4000
despesas = 2967

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta =  saldo_positivo and despesas_controladas
meta

# Desafio Operadores Lógicos

In [ ]:
# Os Trabalhos

trabalho_terca = False
trabalho_quinta = False


# T e T = TV 50 + sorvete
# T e F = TV 32 + sorvete
# F e F = Saúde

tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta #xor
mais_saudavel = not sorvete

print('Tv50={} Tv32={} Sorvete={} Saudável={}'
     .format(tv_50, tv_32, sorvete, mais_saudavel))

#"{0}, {2} = {1}".format(1, False ,'resultado')

# Operadores Unários

In [ ]:
a = 3
# a++ - Forma Errada

a += 1

#print(a)

# a-- - Forma Errada
a -= 2
print(a)

#-a ou +a alteram para negativo e positivo

not 0
not 1
not -2
not False
not not True

# Operadores Ternários

In [ ]:
esta_chovendo = False
'Hoje estou com as roupas ' + ( ' secas.',' molhadas.' )[esta_chovendo]
# Sendo a primeira palavra falsa e a segunda mais próxima da váriavel verdadeira

'Hoje estou com as roupas ' + ('molhadas. ' if esta_chovendo else 'secas.')
# Hoje estou com as roupas molhadas se estiver chovendo, senão elas estão secas.

 # Mais Operadores

In [ ]:
# Operador de Membro

lista = [1,2,3, 'Vitória', 'Grazi', '?']
2 in lista
'Vitória' in lista
'Grazi' not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

# Builtins

In [4]:
# type()
type(1)

__builtins__.type('Fala aí!')
__builtins__.print(10/3)

#__builtins__.help(__builtins__.dir)

1 +2
dir()
_

3.3333333333333335

['In',
 'Out',
 '_',
 '_1',
 '_2',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit']

# Conversão de Tipos

2 + 3

'2' + '3'

#2 + '3' -> Erro de tipos

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a)+(b))

 # Coerção Automática

In [13]:
10 / 2
type(10/2)

10 // 3
type(10 // 3.3)

10 / 2.5

2 + True

2 + False

2

# Tipos Númericos

### Int e Float

In [23]:

dir(int)
dir(float)

a = 5
b = 2.5

#Todas as vezes que tiver uma operação de um inteiro 
#com um float a resposta final é float
print(a + b)
print(a - b)
print(a * b)
print(a / b)

b.is_integer()
5.0.is_integer()


int.__add__(2,3)

#Conversão absoluta -- Troca de Sinais positivo e negativo
(-2).__abs__()
abs(-2)

7.5
2.5
12.5
2.0

2

In [32]:
# 1.1 + 2.2

from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 2
Decimal(1) / Decimal(7)

Decimal.max(Decimal(1), Decimal(7))

getcontext().prec = 2
Decimal(1.1) + Decimal(2.2)

Decimal('3.3')

# Tipo String

In [43]:
dir(str)

nome = 'Alison Keuver'

nome
nome[0]

# nome[0] = 'P' ... Eroor o valor da String não pode ser alterado

"Alison D' Silva" == 'Alison D\' Silva'

# Comentário de Múltiplas Linhas
doc = """  Teste 
.... Multiplas 
..... linhas"""

print(doc)

  Teste
.... Multiplas
..... linhas

In [57]:
nome = 'Ana Paula'

nome[0]
nome[4]
nome[-2]
nome[4:]
nome[-5:]
nome[:3]
nome[2:6]

numeros = '1234567890'

numeros[1::2] # Até o Final os "::" pulando de 2 em 2

numeros[:: -1]  # Truque para inverter

nome = 'Ana Paula'

nome[:: -1]

'aluaP anA'

In [68]:
frase = 'O que eu faço meu Deus ? =( '
'eu' in frase
'Vitória' not in frase
len(frase)
frase.lower()
frase = frase.upper()
frase

frase.split()
frase.split('D')

['O QUE EU FAÇO MEU ', 'EUS ? =( ']

# Listas

## Sequência Mutável

In [21]:
lista = []
type(lista)
dir(lista)
#help(list)

#Tamanho da lista(Array)
len(lista)

# Inserir elementos na lista
lista.append(1)
lista.append(5)



nova_lista = [1,5, 'Maceió']
nova_lista

# Remover elementos
nova_lista.remove(5)
nova_lista

nova_lista.reverse()
nova_lista

['Maceió', 1]

In [29]:
lista = [1, 5, 'Maceió', 'Moça', 'Longe']

# Pegar posição do item
lista.index('Moça')

lista[2]
1 in lista
lista[0]
lista[-1]

'Longe'

In [36]:
lista = [1, 5, 'Maceió', 'Moça', 'Longe']

# Pega os valores do indice 1 até o 3, porém não retorna o 3.
lista[1:3]

# Pega os valores do indice 1 até o final, porém não retorna o 1.
lista[1:]

# Pega todos os valores da lista.
lista[:]

# Pega de 2 em dois
lista[::2]

# deletar indice
del lista[2]

lista

[1, 5, 'Moça', 'Longe']

# Tuplas

## Sequência Imutável

In [51]:
tupla = tuple()
tupla = ()
type(tupla)

#String
tupla = ('um')
type(tupla)

#Criar tupla deve-se add uma virgula no final senão fica como uma string comum.
tupla = ('um',)
tupla[0]

cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0]
cores[-1]
cores[::]

#Posição dentro da tupla
cores.index('amarelo')

#Contar quantos elementos possuem
cores.count('azul')

1

# Dicionário

## Objeto em JS

In [59]:
feira = { 'nome':'Uva', 'forma':'Redonda', 'tipos':['Roxa','Verde']}
feira['nome']
feira['tipos'][1]

feira.keys()
feira.values()
feira.items()
feira.get('forma')

feira.get('Laranja',['Não tem Laranja'])

['Não tem Laranja']

In [75]:
pessoa = {'nome':'Alison Keuver', 'idade':23, 'cursos':['Angular','Python']}
pessoa['idade'] = 24
pessoa['cursos'].append('Postgress')

#le e exlui o item do dicionário
pessoa.pop('idade')

pessoa.update({'idade':23, 'Sexo':'M'})
pessoa

del pessoa['cursos']
pessoa

pessoa.clear()
pessoa

{}

# Conjuntos (Set)

In [11]:
#a = {1,2,3} - Ex. Conjunto
#a = [1,2,3] - Ex. Lista
#a = (1,2,3) - Ex. Tupla

a = {1,2,3}
# a[0] -- Erro não recebe indíce

#Não Garante Orderação e nem repetição dos itens
a = set ("Alison")
print(a)

{1,2,3} == {3,2,1,3}

# operações

c1 = {1,2}
c2 = {2,3}

c1.union(c2) #Une os conjuntos retirando os iguais
c1.intersection(c2) # Valor em comum entre os conjuntos
c1.update(c2) # Une od cjs criando um novo
c1

c2 <= c1 # subconjunto

{1,2,3} - {2,3} # Diferença dos conjuntos
c1 - c2

{'i', 'l', 's', 'o', 'n', 'A'}

{1}

# Interpolação

In [22]:
#%s -- String
#%d -- Inteiro
#%f -- float
#%r -- Boolean


# Forma Antiga
nome, idade, idadeReal, verdade  = 'Mujica', 99, 99.457,True 
print('Nome: %s Idade: %d  Idade Real: %.2f Verdade isso ? %r ' % (nome, idade,idade, verdade)) 

nome, idade = 'João', 45 

print('Nome: {0} Idade:{1}'.format(nome,idade)) # python <3.6

print(f'Nome: {nome} Idade: {idade} {2** 10 + 2}') # python >= 3.6

Nome: Mujica Idade: 99  Idade Real: 99.00 Verdade isso ? True
Nome: João Idade:45
Nome: João Idade: 45 1026